*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
    font-family: "Comic Sans";
    text-align: center;
}
.container{
    width: 100%;
    height: 100%;
    background: #443d2a;
}
.menu{
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #d79551;
}
.logo img{
    width:50px;
    margin-top: 10px;
    margin-left: -10px;
}
.title{
    margin-top: 10px;
    margin-left: 50px;
    text-align: left;
    font-family: sans-serif;
    font-size: xx-large;
    color: 0C090D;
    text-shadow: 2px 2px 5px 53B3CB;
}
.active{
    color: #11110f !important;
}
.signup-btn{
    top:40px;
    right: 80px;
    position: absolute;
    text-decoration: none;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
}
p {
    font-style: 0.85em;
}
.state {
    fill:bisque;
    stroke:black;
}
.button {
    background-color: tomato;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.80;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }